:root {
  /* Background*/
  --bg-main-color: #c5f3e5;
  --bg-card-color: #fafafa;
  /* Fonts*/
  --primary-font-color: #000879;
}

body {
  background-color: var(--bg-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 30rem;
  height: 26rem;
  background-color: var(--bg-card-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.125rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #35036d;
  background-size: contain;
  background-position: center;
}

.card-name_letter {
  font-size: 1.25rem;
  color: var(--primary-font-color);
  position: relative;
  bottom: -1em;
  opacity: 0;
  animation: move-text 0.75s forwards;
}

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }

  50% {
    bottom: 0.2em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}